@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #c7e2f632 transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: beige;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: beige;
  border-radius: 14px;
  border: 3px solid beige;
}
